.link{
    text-decoration:none;
    color: white;
    display: block;
    width: 80x;
    padding: 14px 16px;
    overflow: hidden;
    float: left;
    margin-top: 5px;
}

.link:hover {
    background-color: #1a69d0;
    color: white;
}